<html>
    <head>
        <title>Perguntas e Respostas - Rocket.Q</title>
        <script>
            alert("O campo de pergunta precisa ser preenchido.");
            window.location.replace("/room/<%= roomId %>");
        </script>
    </head>
</html>