<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="icon" href="/assets/images/icon.svg" type="image/x-icon">
    <title>Criar Sala - Rocket.Q</title>
</head>
<body>
        <div class="content" id="home">
            <header>
                <a href="/">
                    <img src="/assets/images/logo.svg" alt="Rocket.Q Logo">
                </a>
            </header>

            <div id="bg">
                <div class="ball top"></div>
                <div class="ball bottom"></div>
            </div>
        
            <main>
                <div class="container">
                    <%- include(`parts/${page}`) %>
                </div>
            </main>
        </div>
    </body>
</html>